<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>This is prototype of basic version of Twitter</p>

  <form>
    <datalist id="results">
      <%= for {app, _vsn} <- @results do %>
        <option value="<%= app %>"><%= app %></option>
      <% end %>
    </datalist>
    <%= live_patch class: "tweet-button-dashboard", to: Routes.tweet_index_path(@socket, :index) do %>
        >> Go to Timeline >>
    <% end %>
  </form>
</section>
